
/* .pi-align-justify {
    font-size: 2em;
    text-align: left;
    line-height: 2.25em;
} */

.button {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1em;
}
/* .button:hover {
    background-color: RoyalBlue;
} */


/* margin-right: 250px; */