<div class="side_menu">
  <p-sidebar
    [(visible)]="visibleSidebar1"
    [baseZIndex]="10000"
    [blockScroll]="true"
    (onHide)="closeSideBar()"
  >
    <h1 style="font-weight: normal;">Left Sidebar</h1>
    <!-- <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
        <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button> -->

    <p-menu [model]="items" styleClass="side_menu"></p-menu>
  </p-sidebar>
  <!-- <p-menu [model]="items" styleClass="side_menu"></p-menu>
        <div class="menu-icon">
            <span class="pi pi-align-justify" (click)="visibleSidebar1 = true"></span>
        </div> -->

  <!-- <button pButton type="button" class="menuIcon" (click)="visibleSidebar1 = true" icon="pi pi-align-justify"></button> -->
</div>
